nav {
    display: flex; /* 1 */
}

nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    justify-content: space-between; /* 2 */
    padding: 1rem 2rem;
  }

nav li {
    padding: 6px;
    font-weight: bold;
    text-decoration: none;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
