nav {
    display: grid; /* 1 */
}

nav ul {
    display: flex; /* 5 */
    list-style: none;
  }

nav li {
    text-decoration: none;
}

nav li + li:before{
    content: " | ";
    padding: 0 10px;
}

.navbar-elements{
    background-color: rgb(94, 175, 246);
}

.navLink{
    color: black
}

a:link { 
    text-decoration: none; 
    color: white;
}

a:visited { 
    text-decoration: none;
    color: white; 
}

a:hover { 
    text-decoration: none;
    color: darkblue;
}

a:active { 
    text-decoration: none; 
    color: white;
}

.header{
    display: grid;
    background-color: rgb(54, 54, 228);
}

.login-button{
    grid-column: 20;
    display: flex;
    align-items: end;
    text-decoration: none;
    list-style: none;
    padding-bottom: 10px;
}

.main-title{
    color: white;
    padding-left: 15px;
}

.body{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 80%;
    height: 100%;
    padding: 0px 5px 5px 5px;
    
}

.profile-link{
    background-color:  rgb(94, 175, 246);
    padding: 5px;
}

.blog{
    display: grid;
}

.new-blog{
    height: 100px;
    width: 500px;
    margin-left: 10%;
    text-align: start;
}

.new-blog-wrapper{
    display: grid;
}

.new-blog-title{
    text-align: center;
}

.new-blog-button{
    margin-left: 10%;
    width: 200px;
}

.new-blog-title-input{
    height: auto;
    width: 500px;
    margin-left: 10%;
}

.new-blog-subject{
    margin-left: 10%;
}

.new-blog-content{
    margin-left: 10%;
}

.post-list{
    margin-left: 10%;
    width: 80%;
}

.banner{
    font-family: "Arial Rounded", sans-serif;
    color: white;
    text-indent: 100px;
    line-height: 0.5;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: auto;
    width: 33%;
    height: 90px;
    background-color:#00FA9A;
}