certifi==2023.5.7
distlib==0.3.7
filelock==3.12.2
gunicorn==21.2.0
packaging==23.2
pipenv==2023.7.11
platformdirs==3.9.1
python-dateutil==2.8.2
python-dotenv==1.0.0
six==1.16.0
virtualenv==20.24.0
virtualenv-clone==0.5.7
flask